<header class="site-header">
  {% if page.url == "/" %}
  <h1 class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></h1>
  {% else %}
  <p class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></p>
  {% endif %}
  <nav class="site-navigation">
    <div class="site-navigation-wrap">
      <h2 class="screen-reader-text">Main navigation</h2>
      <ul class="menu">
        {% for item in site.navigation %}
        {% assign current = nil %}
        {% if page.url == item.url %}
        {% assign current = 'nav-current' %}
        {% endif %}
        <li class="menu-item {{ current }}">
          <a class="{{ current }}" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul><!-- .menu -->
      <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span
          class="icon-close" aria-hidden="true"></span></button>
      <div class="offsite-links">
        {% if site.footer.has_social %}
          {% include social.html %}
        {% endif %}
      </div><!-- .offsite-links -->
    </div><!-- .site-navigation-wrap -->
  </nav><!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
</header>

{% if site.description and site.description != "" and page.url == "/" %}
<div class="site-description fadeInDown delay_05s">
  <p>{{ site.description }}</p>
</div><!-- .site-description -->

<div class="post-content">
  Currently I'm a visiting scholar at Stanford AIMI Center, working in the intersection of Artificial Intelligence and Medicine.
  </br>
  I love working in AI! My ultimate purpose is to significantly contribute to the “discovery” of intelligence (even if I can just be an example of a rational being). Our best chance to understand intelligence is by creating AGI. Lets work together as a society to do that in a way that we will not regret.
  </br> 
  - Published [BRAX, the Brazilian Chest X-ray Dataset](https://www.nature.com/articles/s41597-022-01608-8)
  - Open-sourced the [PyTorch implementation](https://github.com/edreisMD/ConVIRT-pytorch) of [ConVIRT](https://arxiv.org/pdf/2010.00747.pdf) - contrastive learning for radiology images and text (before CLIP)
  - Released Brain Hemorrhage Annotations - [Brain Hemorrhage Extended - BHX](https://physionet.org/content/bhx-brain-bounding-box/1.1/)
  </br>
  At Hospital Israelita Albert Einstein:
  - Started the Health Story project, a medical history timeline to support research and a more personalized clinical practice
  - Ran the development of AI algorithms for diseases of national importance: Tuberculosis, COVID, Melanoma and Head CT
</div>

{% endif %}